/* Layout */
#root {
  font-family: "Open Sans", sans-serif;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--color-principal) transparent;
}

.main-section {
  flex: none;
  width: 100vw;
  height: 100vh;
  padding: 2.5rem;
  display: grid;
  place-items: center;
  scroll-snap-align: start;
}
