.code {
  position: relative;
  width: 40rem;
  cursor: pointer;
}

.code__container {
  border-radius: 2.5rem;
  overflow: hidden;
  transition: all 0.1s;
}

.code__container:active {
  transform: translateY(0.3rem);
  outline: 2px solid var(--background);
  outline-offset: 3px;
  transition: all 0.1s;
}

.code__log {
  display: grid;
  grid-auto-flow: row;
}

.code__line {
  margin-left: 5.75rem;
  padding: 1rem 0;
  transition: all 0.5s;
}

.code__arrow {
  position: absolute;
  bottom: 0.75rem;
  left: 2rem;
}

.code__long-arrow {
  position: absolute;
  top: 0;
  left: -5rem;
  height: 5rem;
  width: 5rem;
  transition: all 1s;
}
