.data-structures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
}

.data-structures__interactive {
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}

.data-structures__memory-heap {
  padding: 2.5rem;
  width: 40rem;
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(7, 5rem);
  grid-template-rows: repeat(7, 5rem);
  border-radius: 2.5rem;
}

.data-structures__memory-heap .bubble:nth-child(1) {
  grid-column-start: 4;
  grid-row-start: 3;
}

.data-structures__memory-heap .bubble:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 5;
}

.data-structures__memory-heap .bubble:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.data-structures__memory-heap .bubble:nth-child(4) {
  grid-column-start: 5;
  grid-row-start: 7;
}

.data-structures__call-stack {
  padding: 2.5rem;
  height: 40rem;
  width: 20rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  border-radius: 2.5rem;
}

.data-structures__code {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 2.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5;
}

.data-structures__code:active {
  transform: translateY(0.3rem);
  outline: 2px solid var(--background);
  outline-offset: 3px;
  transition: all 0.5;
}
