.event-loop {
  display: flex;
  justify-content: space-around;
}

.event-loop__icon-container {
  width: 35rem;
  height: 35rem;
  padding: 7.5rem;
  border-radius: 50%;
}

.event-loop__icon {
  width: 100%;
  height: 100%;
  animation: loop 2s normal 0.5s infinite;
}

@keyframes loop {
  0% {}
  30% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.event-loop__body {
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-self: center;
}